<div class="container">
  <div class="row">

    <div class="panel col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" id="course-param" placeholder="Фрагмент имени или дата">
        <span class="input-group-btn">
          <input type="button" class="btn btn-primary" value="Найти" />
        </span>
      </div>
    </div>
    <button class="btn btn-success add-course col-lg-offset-4 col-lg-2" ui-sref="addcourse">Добавить курс</button>
  </div>

<!--  ng-repeat="course in courses track by $index"-->
  <div class="courses-container">
    <div class="course row" ng-repeat="course in courses.courses">
      <div class="course-content col-lg-10" id="{{course.id}}">
        <div class="row course-title">
          <h2 class="col-lg-4 v-align">{{course.title}}</h2>
          <div class="duration col-lg-2 v-align label label-info">{{course.duration | courseDuration}}</div>
          <div class="date col-lg-2 col-lg-offset-3 v-align label label-info">{{course.date | date:'dd.MM.yyyy'}}</div>
        </div>

        <p>{{course.desc}}</p>
      </div>
      <div class="course-controls col-lg-2">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="courses.edit(course)">Редактировать</button>
        <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="courses.remove(course)">Удалить</button>
      </div>
    </div>
  </div>
</div>
